@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.textexplain{
    font-family: "Kaushan Script";

}

.tekstpjesama{
    font-size:18px;
    margin-bottom:8px;
    font-style:italic;
}