@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

.textexplain{
    font-family: "Kaushan Script";
    margin-top:50px;
    margin-bottom:50px;
    text-align:center;
}