@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.logo {
  display: flex;
  flex-flow: column;
  width: fit-content;
  height: 52px;
  margin-left:60px;
  font-family: "Permanent Marker";
}


.logoText1 {
  font-size: 30px;
  margin-top: 13px;
}

 .logoText2 {
  text-align: center;
  font-size: 30px;
  margin-left:50px;
}

@media (max-width:810px){
  .logo{
    display:none;
  }
}