.titleImage {
    height: 500px;
    width: 100%;
    position: relative;
    background: url("https://images.unsplash.com/photo-1544140119-e0ad950faf9e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80") no-repeat center center;
    background-size: cover;
    flex-flow: row;
}

.titleImage >div {
    width: 40%;
    height: fit-content;
    display: flex;
    background: transparent;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translateX(-20%) translateY(-20%);
    text-align: center;
    color:white;
    margin-top:70px;
    flex-flow: column;
}
 
.titleImage h1 {
    font-size: 64px;
    margin-top:auto;
    border-right:8px solid  #DAA520;
    text-align:left;
}

 .titleImage .helloText{
    color: white;
    float:right;
    text-align:right;
    margin-top:120px;
    font-size:45px;
    text-align:center;
    margin-top:200px;
    margin-right:200px;
    font-style:italic;
}

@media (max-width:850px){
    .titleImage{
      background:none;
      background-color:rgb(11, 11, 48);
    }
  }

  @media (max-width:850px){
    .titleImage h1{
        border-right:none;
    }
  }

  @media (max-width:850px){
    .titleImage .helloText{
        display:none;
    }
  }

  @media (max-width:500px){
    .titleImage h1{
        font-size:50px;
    }
  }

  @media (max-width:390px){
    .titleImage h1{
        font-size:40px;
    }
  }

  @media (max-width:315px){
    .titleImage h1{
        font-size:30px;
    }
  }

  @media (max-width:190px){
    .titleImage h1{
        font-size:20px;
    }
  }